@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WASD Gaming Community</h1>
    <p class="lead">WASD is an online gaming community for both casual and professional gamers.</p>
</div>

