@model IEnumerable<Wasd.Models.UserPost>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "";
}

@foreach (var item in Model)
{
    <div class="well col-md-9">
        <h6>@Html.DisplayFor(modelItem => item.userName)</h6>
        <p>@Html.DisplayFor(modelItem => item.content)</p>
        @Html.DisplayFor(modelItem => item.date)
    </div>
}
