@model IEnumerable<Wasd.Models.Group>

@{
    ViewBag.Title = "AllGroups";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}

<div>
    @foreach (var item in Model)
    {
        <div class="well col-md-9">
            <h5>@item.groupName</h5>
            <p>@item.aboutGroup</p>
        </div>
    }
</div>

