@model IEnumerable<Wasd.Models.Group>

@{
    ViewBag.Title = "ListGroups";
}

<h2>Group list</h2>

@foreach (var item in Model)
{
    <div>
        <h4>@item.groupName</h4>
        <div>@item.aboutGroup</div>
        <hr />
    </div>
}