@model IEnumerable<Wasd.Models.Group>

@{
    ViewBag.Title = "MyGroups";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}

<div>
    @foreach (var item in Model)
    {
        <div class="well col-md-9">
            <h5>@Html.ActionLink(item.groupName, "ThisGroup", "Groups", new { id = item.Id }, null)</h5>
            <p>@item.aboutGroup</p>
        </div>
    }
</div>
