@model IEnumerable<Wasd.Models.Group>

@{
    ViewBag.Title = "MyGroups";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
}

<div>
    @foreach (var item in Model)
    {
        <div>
            <h4>@Html.ActionLink(item.groupName, "ThisGroup", "Groups", new { id = item.Id }, null)</h4>
            <div>@item.aboutGroup</div>
            <hr />
        </div>
    }
</div>