/* Space out content a bit 
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

 Everything but the jumbotron gets side spacing for mobile first views 
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

 Custom page header 
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
 Make the masthead heading the same height as the navigation 
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

 Custom page footer 
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

 Customize container 
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

 Main marketing message and sign up button 
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

 Supporting marketing content 
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

 Responsive: Portrait tablets and up 
@media screen and (min-width: 768px) {
   Remove the padding we set earlier 
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
   Space out the masthead 
  .header {
    margin-bottom: 30px;
  }
   Remove the bottom border on the jumbotron for visual effect 
  .jumbotron {
    border-bottom: 0;
  }
  .pos_fixed {
    float: right;
    top: 5px;
    right: 5px;
    width: 300px;
    }
  .jumbotron .list-content {
  padding: 5px 5px 5px 5px; 
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 150;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}   
  .list-group {
  padding: 5px 5px 5px 5px; 
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 150;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
 }
}*/
.margin-top
{
    margin-top: 30px;
    float: right;
    width: 250px;
    margin-left: auto;
    margin-right: 50px;
}