@model Wasd.Models.SearchViewModel

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Friends</h2>

@using (Html.BeginForm("Friends", "Friends"))
{
    @Html.LabelFor(x => x.Query)
    @Html.EditorFor(x => x.Query)
    @Html.ValidationMessageFor(x => x.Query)
    <input type="submit" value="search" />
}
