@model IEnumerable<Wasd.Models.ApplicationUser>
@{
    Layout = "";
}
@Styles.Render("~/Content/customcss.css")


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="margin-top">
    <ul>
        <li class="list-group-item">
            <h5 class="list-group-item-heading">My friends</h5>
        </li>
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @item.UserName &nbsp; @Html.ActionLink("Unfollow", "removeFriend", new { id = item.Id })
            </li>
        }
    </ul>
</div>





