@model IEnumerable<Wasd.Models.ApplicationUser>

@{
    ViewBag.Title = "ShowResults";
}

<h2>ShowResults</h2>
<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item col-lg-4">@user.UserName @Html.ActionLink("Follow", "AddFriend", new { id = user.Id })</li>
    }
</ul>